<% provide(:head_title, t('sponsors.index')) %>
<% provide(:page_title, t('sponsors.index')) %>

<%= simple_form_for :sponsor, url: admins_event_sponsors_path(@event), method: :post  do |f| %>
  <div class="row">
    <div class="form-row col-md-12">
      <div class="form-group col-md-8">
        <%= f.input :id, label: false, prompt: t('prompt.select.m', name: t('activerecord.models.sponsor.one')), collection: @institutions, input_html: { class: 'apply-selectize' } %>
      </div>

      <div class="form-group col-md-4">
        <%= f.button :submit, 'Adicionar',  class: 'btn btn-outline-primary btn-block' %>
      </div>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Patrocinador</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @event.sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.id %></td>
        <td><%= sponsor.name %></td>
        <td>
          <div class="btn-group">

            <%= link_to admins_event_sponsor_path(@event, sponsor), method: :delete, data: {confirm: t('prompt.confirm')} do %>
              <%= icon('fa', 'trash', class: 'icon ml-2', 'data-toggle' => 'tooltip', title: t('helpers.delete')) %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
