<% provide(:head_title, t("sessions.edit_profile")) %>
<% provide(:page_title, t("sessions.edit_profile")) %>
<% provide(:title, t("sessions.edit_profile")) %>

<%= simple_form_for(resource, as: resource_name,
                    url: admin_registration_path,
                    html: { method: :put, multipart: true }) do |f| %>

  <%= f.error_notification %>

  <div class="form-row">
    <div class="col-sm-8">
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :email, required: true %>
      <%= f.input :password,
        hint: t("devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it") %>
      <%= f.input :password_confirmation %>
      <%= f.input :current_password,
        hint: t("devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it"),
        required: true %>
    </div>

    <div class="col-4">

      <div id="box-image-preview" data-toggle="tooltip" data-placement="left" title="Clique na imagem para alterá-la">
        <div class="input-field image_preview">
          <div class="box-image center">
            <%= image_tag resource.image.url, class: 'file_preview active' %>
            <%= f.input :image, label: false, input_html: { accept: 'image/*' } %>
            <%= f.hidden_field :image_cache %>
          </div>
        </div>
        <div class="text-box text-center">
          <p class="text-input">Clique na imagem para alterá-la</p>
        </div>
      </div>

    </div>
  </div>

  <div class="d-flex">
    <%= link_to t('helpers.back'), :admins_root, class: 'btn btn-secondary' %>

    <%= f.button :submit,
      t("devise.registrations.edit.update"), class: 'btn-primary ml-auto' %>
  </div>
<% end %>
