<%= simple_form_for([:admins, @institution], html: { autocomplete: 'off' }) do |f| %>
  <div class="row">
    <div class="col-lg-9">
      <%= f.input :name %>
    </div>
    <div class="col-lg-3">
      <%= f.input :acronym %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= f.input :state_id, collection: @states,
                  prompt: t('prompt.select.m', name: t('activerecord.attributes.institution.state')),
                  label_method: :name, value_method: :id,
                  input_html: { autocomplete: 'false' } %>
    </div>
    <div class="col-lg-4">
      <%= f.input :city_id, collection: @cities,
                  prompt: t('prompt.select.f', name: t('activerecord.attributes.institution.city')),
                  label_method: :name, value_method: :id,
                  input_html: { autocomplete: 'false' } %>
    </div>

    <div class="col-lg-4">
      <%= f.input :approved, as: :radio_buttons_tabler,
                  collection: Institution.human_approveds %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex">
        <%= link_to admins_institutions_path, class: 'btn btn-secondary float-left' do %>
          <%= t('helpers.back') %>
        <% end %>
        <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
      </div>
    </div>
  </div>
<% end %>
