<tr>
  <td><%= institution.name %></td>
  <td><%= institution.acronym %></td>
  <td class="text-nowrap"><%= institution.city.name %></td>
  <td class="text-nowrap"><%= institution.city.state.acronym %></td>
  <td>
    <div class="btn-group">
      <%= link_to edit_admins_institution_path(institution), title: t('helpers.edit') do %>
        <%= icon('fe', 'edit') %>
      <% end %>

      <%= link_to admins_institution_path(institution), method: :delete,
                  data: {confirm: t('prompt.confirm')}, title: t('helpers.delete') do %>
        <%= icon('fe', 'trash') %>
      <% end %>
    </div>
  </td>
</tr>