<%= simple_form_for [:admins, @event, @section] do |f| %>

  <div class='row'>
    <%= f.input :position, disabled: true, wrapper_html: { class: 'col-md-1' } %>
    <%= f.input :icon, as: :group, group_icon: @section.icon, input_html: { class: 'icon-picker' }, wrapper_html: { class: 'col-md-2' } %>
    <%= f.input :title, autofocus: true, wrapper_html: { class: 'col-md-9' } %>
  </div>

  <%= f.input :content_md, input_html: { class: 'markdown-editor' } %>

  <%= f.input :status, as: :radio_buttons_tabler, collection: Section.human_statuses %>
  <%= f.input :alternative_content_md, input_html: { class: 'markdown-editor' } %>

  <div class='d-flex'>
    <%= link_to t('helpers.back'), admins_event_sections_path, class: 'btn btn-secondary float-left' %>
    <%= f.button :submit, class: 'btn-primary ml-auto' %>
  </div>

<% end %>
