<% provide(:head_title, t('researchers.show')) %>
<% provide(:page_title, t('researchers.show')) %>

<div class="form-row">
  <div class="col-sm-8">
    <label><%= t('activerecord.attributes.attribute_commons.name') %></label>
    <br>
    <input class="form-control" type="text" value="<%= @researcher.name %>" disabled="true">
    <br>
    <label><%= t('activerecord.attributes.researcher.scholarity') %></label>
    <input class="form-control" type="text" value="<%= @researcher.scholarity.name %>" disabled="true">
    <br>
    <label><%= t('activerecord.attributes.researcher.genre') %></label>
    <input class="form-control" type="text" value="<%= @researcher.genre %>" disabled="true">
    <br>
    <label><%= t('activerecord.attributes.researcher.institution') %></label>
    <br>
    <input class="form-control" type="text" value="<%= @researcher.institution.name %>" disabled="true">
    <br>
  </div>

  <div class="col-4">
    <div id="box-image-preview" data-toggle="tooltip" data-placement="left" title="Clique na imagem para alterá-la">
      <div class="input-field image_preview">
        <div class="box-image center">
          <img src="<%= @researcher.image %>">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="d-flex">
  <%= link_to admins_researchers_path, class: 'btn btn-secondary float-left' do %>
    <%= t('helpers.back') %>
  <% end %>

  <%= link_to edit_admins_researcher_path(@researcher), class: 'btn btn-primary ml-auto' do %>
    <%= icon('fas', 'edit') %>
    <%= t('helpers.edit') %>
  <% end %>
</div>