<%= simple_form_for(@contact, url: contact_update_path(@contact, @contact.update_token)) do |f| %>

  <%= f.input :name, autofocus: true %>
  <%= f.input :email %>
  <%= f.input :phone, input_html: { 'data-mask' => '(00) 00000-0000', placeholder: '(00) 00000-0000' } %>
  <%= f.association :institution, prompt: t('prompt.select.f', name: Institution.model_name.human),
                    input_html: { class: 'apply-selectize' } %>

  <div class="d-flex mt-5">
    <%= f.button :submit, t('contacts.public.update.button'), class: 'btn-primary ml-auto' %>
  </div>

<% end %>
