<%= simple_form_for(@event, as: @event,
                    :url => admins_events_create_path,
                    html: { method: :post}) do |f| %>

  <%= f.error_notification %>

  <%= f.input :name, required: true, autofocus: true %>

  <%= f.input :initials, autocomplete: "off",
              required: true %>

  <%= f.input :color, required: true, input_html: {class: 'colorpicker'} %>

  <%= f.input :beginning_date, required: true %>

  <%= f.input :end_date, required: true %>

  <%= f.input :local, required: true %>

  <%= f.input :city_id, collection: ['Guarapuava', 'Curitiba'], :include_blank => false %>

  <%= f.input :state_id, collection: ['Paraná', 'Curitiba'], :include_blank => false %>

  <div class="d-flex">
    <%= link_to admin_events_path, class: 'btn btn-secondary float-left', active: :exclusive do %>
      <%= t('helpers.back') %>
    <% end %>

    <%= f.button :submit, class: 'btn-primary ml-auto' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $('.colorpicker').colorpicker()
</script>
