<%= simple_form_for [:admins, @sponsor_event] do |f| %>

  <%= f.association :event, prompt: t('prompt.select.m', name: Event.model_name.human),
                    input_html: { class: 'apply-selectize' } %>

  <%= f.association :institution, prompt: t('prompt.select.f', name: Institution.model_name.human),
                    input_html: { class: 'apply-selectize' } %>

  <div class="d-flex">
    <%= link_to t('helpers.back'), admins_event_path(@sponsor_event.event), class: 'btn btn-secondary float-left' %>
    <%= f.button :submit, class: 'btn-primary ml-auto' %>
  </div>

<% end %>
