<div class="d-lg-block collapse d-md-flex" id="sidebarMenuCollapse">
  <div class="list-group list-group-transparent mb-2 sidebar">

    <span class="sidebar-heading pl-0 pt-2 pb-2">
      <%= icon('fas', 'book-open', class: 'mr-1') %>
      WAlgProg <%= @event.beginning_date.strftime('%Y') %>
    </span>

    <%= link_to(admins_events_path, class: 'list-group-item list-group-item-action') do %>
      <span class="icon mr-3"><%= icon('fas', 'calendar') %></span><%= t('events.all') %>
    <% end %>

    <%= active_link_to(admins_event_path(@event), class: 'list-group-item list-group-item-action', active: :exact) do %>
      <span class="icon mr-3"><%= icon('fas', 'th-list') %></span><%= t('events.show') %>
    <% end %>

    <%= active_link_to(admins_event_sections_path(@event), class: 'list-group-item list-group-item-action', active: :inclusive) do %>
      <span class="icon mr-3"><%= icon('fas', 'object-group') %></span><%= t('events.sections') %>
    <% end %>

    <%= active_link_to(admins_event_sponsors_path(@event), class: 'list-group-item list-group-item-action', active: :inclusive) do %>
      <span class="icon mr-3"><%= icon('fas', 'university') %></span><%= t('sponsors.index') %>
    <% end %>
  </div>
</div>
