<div class="d-lg-block collapse d-md-flex" id="sidebarMenuCollapse">
  <div class="list-group list-group-transparent mb-2 sidebar">

    <span class="sidebar-heading pl-0 pt-2 pb-2">
      <%= icon('fas', 'book-open', class: 'mr-1') %>
      <%= t('views.sidebar.walgprog') %>
    </span>

    <%= link_to admins_root_path, class: 'list-group-item list-group-item-action', active: :exclusive do %>
      <span class="icon mr-3"><%= icon('fas', 'home') %></span>Página inicial
    <% end %>

    <%= link_to admins_contacts_path, class: 'list-group-item list-group-item-action', active: :exclusive do %>
      <span class="icon mr-3"><%= icon('fas', 'address-book') %></span>Contatos
    <% end %>

    <%= link_to admins_institutions_path, class: 'list-group-item list-group-item-action', active: :exclusive do %>
      <span class="icon mr-3"><%= icon('fas', 'university') %></i></span>Instituições de Ensino
    <% end %>
  </div>
</div>
