<tr>
  <td><%= admin.name %></td>
  <td><%= admin.email %></td>
  <td><span class="avatar" style="background-image: url('<%= admin.image.url(:thumb)%>');"></span></td>
  <td><%= t("enums.user_types.#{admin.user_type}") %></td>
  <td>
    <% if current_admin.admin? %>
    <div class="btn-group">
      <%= link_to edit_admins_admin_path(admin) do %>
        <%= icon('fas', 'edit', class: 'icon ml-2', 'data-toggle' => 'tooltip', title: t('helpers.edit')) %>
      <% end %>

      <%= link_to admins_admin_path(admin), method: :delete,
                  data: {confirm: t('prompt.confirm')} do %>
        <%= icon('fa', 'trash', class: 'icon ml-2', 'data-toggle' => 'tooltip', title: t('helpers.delete')) %>
      <% end %>
    <% end %>
    </div>
  </td>
</tr>
