<%= simple_form_for [:admins, @event] do |f| %>

  <%= f.error_notification %>

  <fieldset class="form-fieldset">
    <legend class="w-auto"><%= t('events.description') %></legend>
    <div class="row">
      <%= f.input :name, required: true, autofocus: true, wrapper_html: {class: 'col-lg-8 col-md-12 col-sm-12'} %>

      <%= f.input :initials, autocomplete: "off", required: true, wrapper_html: {class: 'col-lg-2 col-md-6 col-sm-6'} %>

      <%= f.input :color, required: true, wrapper_html: {class: 'col-lg-2 col-md-6 col-sm-6'}, input_html: {class: 'colorpicker'} %>
    </div>
  </fieldset>

  <fieldset class="form-fieldset">
    <legend class="w-auto"><%= t('events.dates') %></legend>
    <div class="row">
      <div class="form-group string required col-md-6">
        <%= f.input(
                :beginning_date,
                as:  :string,
                required: true,
                input_html: {value: @event.beginning_date ? l(@event.beginning_date, format: :short) : nil, class: 'datepicker'},) %>

      </div>

      <div class="form-group string required col-md-6">
        <%= f.input(
                :end_date,
                as: :string,
                required: true,
                input_html: {value: @event.end_date ?  l(@event.end_date, format: :short) : nil, class: 'datepicker'},) %>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-fieldset">
    <legend class="w-auto"><%= t('events.location') %></legend>
    <div class="row">
      <%= f.input :city, collection: @cities, :include_blank => false,  wrapper_html: {class: 'col-md-6'}, input_html: { name: 'event[city_id]', data: 'selectize' } %>

      <%= f.input :local, required: true, wrapper_html: {class: 'col-md-6'} %>
      <%= f.input :address, required: true, wrapper_html: {class: 'col-md-12'} %>
    </div>
  </fieldset>


  <div class="d-flex">
    <%= link_to admins_events_path, class: 'btn btn-secondary float-left', active: :exclusive do %>
      <%= t('helpers.back') %>
    <% end %>

    <%= f.button :submit, class: 'btn-primary ml-auto' %>
  </div>

<% end %>
