<% provide(:head_title, t('events.index')) %>
<% provide(:page_title, t('events.index')) %>

<div class="row">
  <div class="col-sm-12 col-lg-8 mb-2">
    <div class="input-group input-icon">
      <input
        type="text"
        class="form-control"
        placeholder="<%= t('helpers.search') %>"
        aria-describedby="search-append">

        <span
          id="search-append"
          class="input-group-append">

          <a id="search" href="#" class="btn btn-outline-primary">
            <i class="fe fe-search"></i>
          </a>
        </span>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <%= link_to new_admins_event_path, class: 'btn btn-outline-primary d-block' do %>
      <i class="fe fe-plus mr-2"></i>
      <%= t('events.new') %>
    <% end %>
  </div>
</div>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table table-hover table-outline table-vcenter card-table">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.attribute_commons.name') %></th>
        <th><%= t('activerecord.attributes.event.color') %></th>
        <th><%= t('events.beginning_end') %></th>
        <th><%= t('activerecord.attributes.event.local') %></th>
        <th><%= t('activerecord.attributes.attribute_commons.created_at') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @events %>
    </tbody>
  </table>
</div>
