<% provide(:head_title, t("events.new")) %>
<% provide(:page_title, t('events.new')) %>
<% provide(:title, t('events.new')) %>
<% navigation_add t('events.new'), admins_events_path %>
<div class="col-md-12">
  <%= simple_form_for @event, :url => admins_events_path do |f| %>


    <%= f.error_notification %>

    <fieldset class="form-fieldset">
      <legend class="w-auto"><%= t('events.description') %></legend>
      <div class="row">
        <%= f.input :name, required: true, autofocus: true, wrapper_html: {class: 'col-md-8'} %>

        <%= f.input :initials, autocomplete: "off", required: true, wrapper_html: {class: 'col-md-2'} %>

        <%= f.input :color, required: true, wrapper_html: {class: 'col-md-1'}, input_html: {class: 'colorpicker'} %>
      </div>
    </fieldset>


    <fieldset class="form-fieldset">
      <legend class="w-auto"><%= t('events.dates') %></legend>
      <div class="row">
        <div class="form-group string required event_color datetimepicker col-md-6" id="datetimepickerbegin" data-target-input="nearest">
          <%= f.input(
                  :beginning_date,
                  :as => :string,
                  required: true,
                  input_html: {class: 'datetimepicker-input', data: {target: '#datetimepickerbegin', toggle: 'datetimepicker'}} )%>

        </div>

        <div class="form-group string required event_color datetimepicker col-md-6" id="datetimepickerend" data-target-input="nearest">
          <%= f.input(
                  :end_date,
                  :as => :string,
                  required: true,
                  input_html: {class: 'datetimepicker-input', data: {target: '#datetimepickerend', toggle: 'datetimepicker'}},
              ) %>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-fieldset">
      <legend class="w-auto"><%= t('events.location') %></legend>
      <div class="row">
        <%= f.association :city, :include_blank => false, wrapper_html: {class: 'col-md-6'} %>

        <%= f.input :local, required: true, wrapper_html: {class: 'col-md-6'} %>
        <%= f.input :address, required: true, wrapper_html: {class: 'col-md-12'} %>
      </div>
    </fieldset>


    <div class="d-flex">
      <%= link_to admins_events_path, class: 'btn btn-secondary float-left', active: :exclusive do %>
        <%= t('helpers.back') %>
      <% end %>

      <%= f.button :submit, class: 'btn-primary ml-auto' %>
    </div>

  <% end %>

</div>
