<% provide(:head_title, t('events.show')) %>
<% provide(:page_title, t('events.show')) %>

<div class="col-md-12">

  <%= link_to edit_admins_event_path(@event), class: 'btn btn-outline-primary float-right  ml-5' do %>
    <i class="fa fa-edit"></i>
    <%= t('helpers.edit') %>
  <% end %>

  <%= link_to admins_event_sections_path(@event), class: 'btn btn-outline-success float-right' do %>
    <%= icon('fa', 'object-group') %>
    <%= t('events.edit_sections') %>
  <% end %>

  <fieldset class="form-fieldset col-md-12">
    <legend class="w-auto"><%= t('events.description') %></legend>
    <div class="row">
      <div class="col-md-6">
        <h4><%= t('activerecord.attributes.attribute_commons.name') %></h4>
        <p><%= @event.name %> (<%= @event.initials %>)</p>
      </div>
      <div id='event_color' class="col-md-3">
        <h4><%= t('activerecord.attributes.event.color') %></h4>
        <p><i class="fas fa-circle" style="color: <%= @event.color %>;"></i></p>
      </div>
      <div class="col-md-3">
        <h4><%= t('activerecord.attributes.attribute_commons.created_at') %></h4>
        <p><%= l(@event.created_at) %></p>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-fieldset col-md-12">
    <legend class="w-auto"><%= t('events.dates') %></legend>
    <div class="row">
      <div class="col-md-6">
        <h4><%= t('activerecord.attributes.event.beginning_date') %></h4>
        <p><%= l(@event.beginning_date.to_date, format: :long) %></p>
      </div>

      <div class="col-md-6">
        <h4><%= t('activerecord.attributes.event.end_date') %></h4>
        <p><%= l(@event.end_date.to_date, format: :long) %></p>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-fieldset col-md-12">
    <legend class="w-auto"><%= t('events.location') %></legend>
    <div class="row">
      <div class="col-md-6">
        <h4><%= t('events.location') %></h4>
        <p><%= @event.full_address %></p>
      </div>
      <div class="col-md-6">
        <h4><%= t('activerecord.attributes.event.local') %></h4>
        <p><%= @event.local %></p>
      </div>
    </div>
  </fieldset>

  <%= link_to admins_events_path, class: 'btn btn-secondary float-left' do %>
    <%= t('helpers.back') %>
  <% end %>
</div>